@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@font-face{
    font-family: digital;
    src: url(../digital-7.ttf);
}

body{
    padding: 2em;
}

.container{
    display: flex;
    justify-content: center;
    font-family: Open Sans;
}

.box{
    flex-basis: 350px;
    border: 2px solid #555;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    background-color: dimgrey;
}

h6{
    font-family: Open Sans;
    text-align: right;
    text-transform: uppercase;
    color: antiquewhite;
}

input[type=text]{
    width: 100%;
    background-color: #bccd95;
    padding: 30px 10px;
    font-family: digital, Open Sans;
    font-size: 2.5em;
    text-align: right;
}

.keys{
    padding-top: 10px;
}

.keys div:first-child input:nth-child(1),.keys div:first-child input:nth-child(2),.keys div:first-child input:nth-child(3){
    background-color: orange;
    border: 1px solid darkorange;
}

.keys input{
    color: antiquewhite;
    background-color: #333;
    border: 1px solid #222;
    border-radius: 10px;
    box-shadow: 5px 5px #555;
    min-width: 80px; 
    margin-left: 2px;
    margin-right: 2px;
}

.keys input:active{
    box-shadow: none;
}
