@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@font-face{
    font-family: digital;
    src: url(../digital-7.ttf);
}

body{
    padding: 2em;
}

.container{
    display: flex;
    justify-content: center;
    font-family: Open Sans;
}

.box{
    flex-basis: 350px;
    padding: 1em;
    text-align: center;
    border-radius: 20px;
    background-color: dimgrey;
    background: -webkit-linear-gradient(left, #444, #222);
    background: -moz-linear-gradient(left, #444, #222);
    background: -o-linear-gradient(left, #444, #222);
    
}

h6{
    font-family: Open Sans;
    text-align: right;
    text-transform: uppercase;
    color: antiquewhite;
}

input[type=text]{
    width: 100%;
    background-color: #bccd95;
    padding: 30px 10px;
    font-family: digital, Open Sans;
    font-size: 2.5em;
    text-align: right;
    border-top: 3px solid #ccc;
    border-left: 3px solid #eee;
    border-bottom: 5px solid #555;
    border-right: 5px solid #777;
}

.keys{
    padding-top: 10px;
}

.keys div:first-child input:nth-child(1),.keys div:first-child input:nth-child(2),.keys div:first-child input:nth-child(3){
    background-color: orange;
    border: 1px solid darkorange;
}

.keys input{
    color: antiquewhite;
    background-color: #333;
    border: 1px solid #222;
    border-radius: 10px;
    box-shadow: 5px 5px #555;
    min-width: 80px; 
    margin-left: 2px;
    margin-right: 2px;
}

.keys input:active{
    box-shadow: none;
}
